@media only screen and (max-width: 590px){
    .navigation {
        flex-direction: column;
    
    }
    body {
      overflow-x: hidden;
  }
    header{
        padding: 25px;
    }
    .explore-heading {
        color: white;
        font-size: 22px;
        font-weight: 800;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 20px;
      }
      
      .explore-para {
        text-align: center;
        color: rgba(255, 255, 255, 1);
        font-size: 1rem;
        font-weight: 400;
        padding: 10px;
        max-width: 80%;
      }

      nav li {
        margin-right: 15px;
      }
    .banner-div{
        border-radius: 16px;
        background: linear-gradient(
      to bottom right,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("./Images/Group 13 (1) (1).png");
        background-position: center;
        padding: 1px 2px;
    }
    .inp-c{
        display: block;
    }
    .inp-c{
        margin: 0px auto;
    }

    main{
      padding: 25px;
    }

    .main-div-1{
      flex-direction: column;

    }
    .main-text-div{
      width: 100%;
    }
    .main-img-div{
      width: 100%;
      margin: 30px 0px;
    }
    .ban-ban{
      flex-direction: column;
    }
    .indo-mal{
      flex-direction: column;
    }
    .sri-nor-kash{
      flex-direction: column;
    }
    .palces img{
      background-position: center;
      width: 100%;
    }

    .indonesia{
      padding: 125px 130px;
    }

    .north-america{
      padding: 125px 130px;
    }

    .kashmir{
      margin: 0px auto;
    }

    .bangladesh{
      padding: 125px 130px;
      border-radius: 16px;
    }

    .bandarban{
      padding: 125px 130px;
      border-radius: 16px;
    }

    .maldives{
      padding: 125px 130px;
    }
    .hotel-world{
      flex-direction: column;
      
    }
    .hotel-div{
      margin: 0px auto;
      justify-content: center;
    }
    .world-class-div{
      width: 90%;
      margin: 0px auto;
    }
}